body {
    background-image: url('weather.jpeg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    }   
    
    
       #container {
        background-color:rgba(94, 97, 93, 0.1);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 500px;
        height: 725px;
        border-radius: 40px;
        color: white;
        background-image: linear-gradient(rgba(150, 150, 200, 0.4), rgba(0, 0, 0, 0.2));
        min-height: 100vh;
        }

    #input {
        background-color: rgba(142, 127, 161, 0.8);
        border-radius: 20px;
        border: 3px solid #CDF3A2;
        padding: 15px;
        font-size: 20px;
        }

        #header{
            display:flex;
            justify-content: center;
            margin-top:30px;
        }

            #input {
                border-radius: 20px;
                border: 3px  #451952;
                padding: 15px;
                font-size: 20px;
                background-color:#FFC8C8;
                }

                    
        #when_where{
            display:flex;
            flex-direction: column;
            align-items: center;
        }

        #city{
            color:#3D0C11;
            font-size:45px;
            }

        #date{
            color:#3D0C11;
            font-size:30px; 
        }

        #now{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #temperature{
            color:#3D0C11;
            font-size:100px;
            font-weight:bold;
            margin:0;
        }

        #feelsLike{
            color:#3D0C11;
            font-size:30px;
            font-weight:bold;
            }
        
            #condition{
                font-size:32px;
                color:#3D0C11;
                font-weight:bold;
                font-style:italic;
            }

            #variation{
                color:#3D0C11;
                font-size:26px;
                font-weight:bold;
            }

 @media (max-width: 500px) {
          #container {
            width: 90%;
            padding: 15px;
            border-radius: 20px;
          }

          #input {
            font-size: 16px;
            padding: 10px;
          }

          #city {
           font-size: 28px;
          }

         #date {
          font-size: 20px;
         }

         #temperature {
          font-size: 60px;
         }

         #condition {
          font-size: 20px;
        }

         #feelsLike, #variation {
          font-size: 18px;
         }
}


           

